body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.app {
  max-width: 400px;
  margin: 40px auto;
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.addbutton {
  padding: 8px 16px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.addbutton:hover {
  background: #0056b3;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 377px;
  gap: 20px;
}
.head {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.filter {
  gap: 8px;
  display: flex;
}
